body{
    margin: 7px 10px;
}
.btn{
    text-decoration: none;
    background-color: lightseagreen;
    padding: 10px 30px;
    color: #fff;
    border-radius: 15px;
}
.half-width{
    width: 50%;
}
.padding-20-25{
    padding: 10px 25px;
}
.bg-color{
    background-color: #e4dddd;
    opacity: 0.9;
}
/* .img{
    height: 275px;
    width: 183px;
} */
.banner{
    background-image: url(./images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    margin-bottom: 100px;
    padding: 40px;
}
.banner .txt{
    width: 50%;
    color: rgb(249, 237, 237);
    
}
.banner .txt h1{
    margin-bottom: 0px;
}
.banner .txt h1{
    font-size: 55px;
}
.banner .txt h4{
    font-size: 20px;
}
.blog{
    width: 70%;
    margin: 0 auto;
}
.blog .blog-1{
    display: flex;
    margin-bottom: 70px;
}
.blog .blog-1 img{
    height: 195px;
    width: 265px;
}

.blog .blog-2{
    display: flex;
    margin-bottom: 70px;
}

.cards{
    width: 75%;
    margin: 50px auto;
}
.cards .card-top{
    display: flex;
    padding: 10px;
}
.text-center{
    text-align: center;
}
.cards .card-top .card-1{
    display: flex;
    margin: 10px 15px;
}
.cards .card-top .card-2{
    display: flex;
    margin: 10px 15px;
}
.cards .card-top .card-1 img{
    margin-top: 25px;
    margin-right: 20px;
}
.cards .card-top .card-2 img{
    margin-top: 25px;
    margin-right: 20px;
}

.cards .card-bot{
    display: flex;
    padding: 10px;
}
.cards .card-bot .card-3{
    display: flex;
    margin: 10px 15px;
}
.cards .card-bot .card-3 img{
    margin-top: 25px;
    margin-right: 20px;  
}
.cards .card-bot .card-4{
    display: flex;
    margin: 10px 15px;
}
.cards .card-bot .card-4 img{
    margin-top: 25px;
    margin-right: 20px;  
}

.images{
    width: 90%;
    margin: 0 auto;
}
.images #img{
   display: flex;
   justify-content: center;
   align-items: center;
}
.images img{
    height: 280px;
    width: 230px;
    margin: 0 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.donate-img{
    padding: 0;
    height: 170px;
    width: 100%;
}
.one-third-width{
    width: 30%;
    margin: 5px 15px;
}
.text-padding{
    padding: 7px 14px;
}
.card-border{
    border: 1px solid grey;
    border-radius: 10px;
}
.overflow{
    overflow: hidden;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.c-h-4{
    height: 40%;
}
.c-h-6{
    height: 60%;
}
.donate-cards{
    width: 95%;
    margin: 70px auto;  
}
.donate-cards .cards{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
